@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap');

body {
    margin: 0;
    font-family: 'Figtree', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
